# Entornos virtuales
.venv/
venv/
env/

# Python basura
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Datos (Opcional: si el vehicles.csv pesa más de 100MB, GitHub no te dejará subirlo)
data/raw/vehicles.csv

# UV
.uv/